$primary-color: hsl(171, 66%, 44%);
$secondary-color: hsl(233, 100%, 69%);
$text-bold: hsl(210, 10%, 33%);
$text-light: hsl(201, 11%, 66%);
$text-size: 1.8rem;
$text-big-size: 3rem;

@import "global";
@import "btn";
@import "media";

.hero {
  height: 100%;
  background: url("/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;

  .hero-content {
    margin-top: 1rem;

    p {
      margin-top: 3rem;
    }
  }
  .hero-btn {
    margin-top: 2rem;
  }
}

.message {
  margin-top: 6rem;
  //   padding: 0rem 25rem;
  padding: 2rem;

  h2 {
    margin-top: 3rem;
  }
  p {
    margin-top: 2rem;
  }
  img {
    width: 100%;
    margin-top: 1rem;
  }
}

.items {
  margin-top: 3rem;
  padding: 2rem;

  .item-img img {
    width: 100%;
  }

  .item-des {
    padding: 2rem;

    .des-one,
    .des-two,
    .des-three {
      margin-top: 1.5rem;

      h3 {
        color: $text-bold;
      }
      p {
        color: $text-light;
      }
    }
  }
}
.features {
  padding: 2rem;
  .message {
    margin-bottom: 5rem;
  }

  .feature-one,
  .feature-two,
  .feature-three {
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    img {
      width: 5rem;
    }

    h3 {
      margin: 2rem 0rem;
    }
  }
}
.brands {
  padding: 2rem;

  .brand-one,
  .brand-two,
  .brand-three,
  .brand-four,
  .brand-five {
    margin-top: 5rem;
  }
}
.call-action {
  padding: 2rem;
  margin-top: 5rem;

  .call-content {
    margin-top: 6rem;

    p {
      margin: 3rem 0rem;
    }
  }
}

.footer {
  background: $text-light;
  padding: 2rem;

  .footer-logo {
    img {
      margin: 4rem 0rem 2rem 0rem;
      width: 8rem;
    }
  }
  .footer-links {
    margin: 2rem 0rem;
    ul {
      li {
        margin-top: 1rem;
      }
    }
  }
}
